# Q1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [17]:
#replacing space with colon
import regex as re
string_1="Data Science is the best stream to grow in life with AI tools."
x=re.sub("\s",":",string_1)
print(x)

Data:Science:is:the:best:stream:to:grow:in:life:with:AI:tools.

In [18]:
#replacing comma with colon
import regex as re
string_1="Data Science having different topics to learn like Machine learning,Python programing,Data Wrangling,SQL etc"
x=re.sub("\,",":",string_1)
print(x)

Data Science having different topics to learn like Machine learning:Python programing:Data Wrangling:SQL etc

In [19]:
#replacing dot with colon
string1="a.k.a.s.h.y.a.d.a.v"
x=re.sub("\.",":",string1)
print(x)

a:k:a:s:h:y:a:d:a:v

# Q2- Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [26]:
#dict1- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
import pandas as pd
df=pd.DataFrame({'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']})
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

#Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory

In [35]:
target_string="Emma is a basketball player who was born on june 1997. She played 1122 matches with a scoreing average of 26.12 points per game "
pattern=re.compile(r"\w{4}")
x=pattern.findall(target_string)
print(x)

['Emma', 'bask', 'etba', 'play', 'born', 'june', '1997', 'play', '1122', 'matc', 'with', 'scor', 'eing', 'aver', 'poin', 'game']

#Quetion4-Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [56]:
target_string="Emma is a basketball player who was born on june 1997. She played 1122 matches with a scoreing average of 26.12 points per game "
pattern=re.compile(r"\w{3,5}")
x=pattern.findall(target_string)
print(x)

['Emma', 'baske', 'tball', 'playe', 'who', 'was', 'born', 'june', '1997', 'She', 'playe', '1122', 'match', 'with', 'score', 'ing', 'avera', 'point', 'per', 'game']

#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [6]:
list1=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

pattern=re.compile((r"\(\)"))
for msg in list1:
    msgs=re.sub(pattern,"",msg)
    print(msgs)

example (.com)
hr@fliprobo (.com)
github (.com)
Hello (Data Science World)
Data (Scientist)

#Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [2]:
import regex  as re
text="ImportanceOfRegularExpressionsInPython"
result=re.findall('[A-Z][^A-Z]*',text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

#Question 8- Create a function in python to insert spaces between words starting with numbers.

In [10]:
text="RegularExpression1IsAn2ImportantTopic3InPython"
result=re.findall("[A-Z][^\d]*",text)
print(result)

['RegularExpression', 'IsAn', 'ImportantTopic', 'InPython']

#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [52]:
text="RegularExpression1IsAn2ImportantTopic3InPython"

result=re.findall(r"[A-Z][a-z]+",text)
result

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

#Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [54]:
import pandas as pd

df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [66]:
df.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [76]:
pattern=r"(\w{6})"
first_five_letters=df["Country"].str.extract(pattern,expand=True)
first_five_letters

          0
0    Switze
1    Icelan
2    Denmar
3    Norway
4    Canada
..      ...
153  Rwanda
154     NaN
155     NaN
156  Burund
157     NaN

[158 rows x 1 columns]

#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [89]:
text="APJ Abdul Kalam was an Indian_ aerospace scientist also know as the Missile_Man of India  "
pattern="[a-zA-Z0-9]+\w+"
re.findall(pattern,text)

['APJ',
 'Abdul',
 'Kalam',
 'was',
 'an',
 'Indian_',
 'aerospace',
 'scientist',
 'also',
 'know',
 'as',
 'the',
 'Missile_Man',
 'of',
 'India']

#Question 12- Write a Python program where a string will start with a specific number.

In [91]:
import regex as re
text="12 banana cost RS 60 and 1 kg apple cost RS 200 "
matches=re.findall("^\d+",text)
print(matches)

['12']

In [93]:
maatches=re.findall("^\d+","12345abcd4567")
print(maatches)

['12345']

#Question 13- Write a Python program to remove leading zeros from an IP address

In [111]:
ip_address="255.255.255.0."
pattern="(^2\d+.)"
matches=re.findall(pattern,ip_address)
print(matches)

['255.']

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [140]:
text="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
pattern="(A\w+).+(\s\d+\w+).+(\s\d+)"
matches=re.findall(pattern,text)
print(matches)

[('Augus', ' 15t', ' 1947')]

Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [167]:
pattern= 'dog|fox|horse'
text="The quick brown fox jumps over the lazy dog"
result= re.search(pattern, text)
print(result)

<re.Match object; span=(16, 19), match='fox'>

Write a Python program to find the substrings within a string.

In [168]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
matches=re.findall(pattern,text)
print(matches)

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [170]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
matches=re.search(pattern,text)
print(matches)

<re.Match object; span=(7, 16), match='exercises'>

Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [175]:
text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern="\d+\.\d+"
pattern_n=re.compile(pattern)
matches=pattern_n.findall(text)
print(matches)

['01.12', '0132.123', '2.31875', '145.8', '3.01', '27.25', '0.25']

- Write a Python program to separate and print the numbers and their position of a given string.

In [177]:
matches=re.search("\d+","abcd12345efg567")
print(matches)

<re.Match object; span=(4, 9), match='12345'>

- Create a function in python to insert spaces between words starting with capital letters

In [181]:
text="RegularExpressionIsAnImportantTopicInPython"
result=re.findall(r"[A-Z][a-z]+",text)
print(result)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [189]:
text="RegularExpressionIsAnImportantTopicInPython"
result=re.findall(r"[A-Z][a-z]+$",text)
print(result)

['Python']

Write a python program using RegEx to accept string ending with alphanumeric character.

In [190]:
target_string ="alphanumeric number is 123abc"
y= re.match("^\w.+",target_string)
print(y)

<re.Match object; span=(0, 29), match='alphanumeric number is 123abc'>

Write a python program using RegEx to extract the hashtags.

In [196]:
import pandas as pd

text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern="\s#\w+."
matches=re.findall(pattern,text)
print(matches)

[' #Doltiwal ', ' #xyzabc ', ' #Demonetization ']

Question 28- Write a python program using RegEx to remove <U+..> like symbols

In [205]:
text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r"<U\+\w{4}>"
matches = re.sub(pattern, "",text)
print(matches)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

- Write a python program to extract dates from the text stored in the text file.

In [226]:
text="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999"
pattern="(\d{2}-\d{2}-\d{4})"
matches= re.findall(pattern,text)
print(matches)

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

In [269]:
text1="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern="\w{3}+"
matches=re.sub("[\w{3}+]","", text1)
print(matches)

           .              .